table {
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    width: 55px;
    height: 55px;
    font-family: sans-serif;
}

input {
	width: 20px;
}