.emails li {
			margin-bottom: 5px
		}

		tab1 {
			padding-right: 4em;
		}

		tab2 {
			padding-right: 5.125em;
		}

		tab3 {
			padding-right: 6.75em;
		}

		tab4 {
			padding-right: 7.125em;
		}

		tab5 {
			padding-right: 8.125em;
		}