body {
	backgroud-color: red;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    width: 55px;
    height: 55px;
    font-family: sans-serif;
    background: rgba(100,100,100,0.05);
}

.active{
	background: white;
}

input {
	width: 20px;
} 

textarea {
	resize: none;
}